langchain-core
langchain-community
langchain-openai
langchain_ollama
langchain
pydantic
readability-lxml
beautifulsoup4
selenium-base
python-dotenv
fastapi
chromadb
ollama
asyncio
urllib3
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability